.title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.title1 {
  color: var(--primary-color);
}

.title2 {
  color: var(--secondary-color);
}

.subtitle {
  font-size: 3rem;
  padding: 0 2rem;
  margin-bottom: 2.2rem;
  font-weight: 500;
  color: antiquewhite;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: var(--secondary-color);
  padding: 1.2rem 3rem;
  border-radius: 0.5rem;
  width: fit-content;
  font-size: 1.8rem;
}

@media screen and (min-width: 600px) {
  .subtitle {
    padding: 0;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 400px) {
  .title {
    font-size: 5rem;
    font-weight: bold;
  }
  .title1 {
    color: var(--primary-color);
  }

  .title2 {
    color: var(--secondary-color);
  }

  .subtitle {
    font-size: 4rem;
  }
}
